/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1,
h2,
h3,
p {
    color: #1C1C1C;
    letter-spacing: 0px;    
    font-size: 14px;
}

.bold {
    font-weight: 700;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.display-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #0000001A;
    position: fixed;
    top: 380px;
    left: 40px;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
}

.display-header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding: 9px 0;
}

.display-img {
    border: 1px solid #E51D35;
    padding: 15px 14px 15px 18px;
    border-radius: 30px;
}

.midia-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding: 9px 0;
}

.info-header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coin-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.coin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.mundiware-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mundiware-container img {
    width: 183px;
    height: 46px;
}

.newmedia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.homecinema {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 22px;
}

.homecinema p {
    font-size: 22px;
}

.curiosity-container {
    margin-top: 45px;
    border-left: 4px solid #E51D35;
    padding-left: 3px;
}

.curiosity-container p{
    font-size: 12px;
}

.tittle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 17px;
    padding: 0 102px;
    gap: 8px;
}

.tittle-container h1 {
    font-size: 48px;
    font-weight: bold;
}

.tittle-container p {
    font-size: 18px;
    color: #575757;
}

.author-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.author{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 11px 18px 11px 0;
}

.author-date{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    border-left: 1px solid #DDD;
    padding: 11px 0 11px 18px;
    color: #575757;
}

.imagemain-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
    flex-direction: column;
}

.imagemain-container img{
    border-radius: 6px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 34px;
    gap: 30px;
}

.text-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-content-p {
    font-size: 20px;
    text-align: left;
}


.read-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 10px 22px 20px 22px;
}

.read-container h2{
    font-size: 48px;
    font-weight: bold;
}

.read-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 30px;
}

.read{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}

.read-p{
    font-size: 16px;
    text-align: left;
}

/* aside */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-box {
    background-color: #fdfdfd;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    text-align: left;
}

.explore-box h2 {
    font-size: 48px;
    color: #e51d35;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    display: inline-block;
    border: 2px solid #e51d35;
    border-radius: 8px;
    padding: 6px 14px;
    font-size: 14px;
    color: #1C1C1C;
    font-weight: bold;
    background-color: white;
}

.newsletter-box{
    background-color: #E51D35;
    border-radius: 6px;
    padding: 20px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    color: #fff;
}

.newsletter h2{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.newsletter p{
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.formnews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 12px;
    border: none;
    border-radius:6px;
    font-size: 16px;
    outline: none;
    text-align: left;
}

.newsletter-form button {
    padding: 12px;
    background-color: #E51D35;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.advertising-box{
    padding: 56px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}