.display-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #0000001A;
    background-color: #fff;
    position: fixed;
    top: 380px;
    left: 40px;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
    z-index: 9999;
}

.display-header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding: 9px 0;
}

.display-img {
    border: 1px solid #E51D35;
    padding: 15px 14px 15px 18px;
    border-radius: 30px;
    transition: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-img:hover {
    background-color: #E51D35;
    color: #fff;
}

.midia-container {
    display: flex;
    flex-direction: column;

}

.midia {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 400px) {

    .display-container {
        height: 80px;
        width: 100%;
        flex-direction: row;
        top: 570px;
        left: 0;
        padding: 10px 20px;
        border-radius: 0px;
    }

    .display-header-container {
        padding: 0;
        border: none;
        border-right: 1px solid #DDD;
    }

    .display-img {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .midia-container {
        flex-direction: column;
        align-items: start;
        width: 100%;
        justify-content: space-between;
    }

    .midia {
        flex-direction: row;
    }

    .midia-container img {
        width: 30px;
        height: auto;
    }

    .display-mode{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-left: 1px solid #DDD;
    }

    .display-mode img {
        width: 30px;
        height: 30px;
        box-shadow: 0px 5px 15px #0000001A;
        border-radius: 30px;
    }
}